.vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.date-picker, .text-field, .combo-box
{
	-fx-pref-width:500;
	-fx-max-width:500;
	
}

.atcd-add-button
{
	-fx-alignment: center-right ;
	-fx-padding: 5;
	-fx-background-color: rgb(128,128,255);
}